*{
    font-family: 'Trebuchet MS', 'Franklin Gothic Medium', Verdana, Arial, sans-serif;
    color: #000000;

    margin-left: auto;
    margin-right: auto;
    text-align: left;
    text-align: center;
}